ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
   
}
.listItem{
 border: 2px solid black;
 grid-template-columns: max-content;
 border-radius: 5px;
 display: flex;



}